$primary-color: #383ea6
$secundary-color: #d90416

*
    margin: 0px
    padding: 0px
    box-sizing: border-box

body
    background-color: #ccc

.timer
    background-color: $primary-color
    height: 50px
    text-align: center
    

    h1
        margin: 0 auto
        padding: 7px
        color: white

    .container
        display: grid
        
